<div class="navbar navbar-expand-sm navbar-light navbar-portfolio">
  <%= link_to "MW", "/", class: "navbar-brand text" %>
    <%# image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <span class="nav-item">
        <%= link_to "about me", :anchor => "about-me", class: "nav-link text" %>
      </span>
      <span class="nav-item">
        <%= link_to "resume", :anchor => "resume", class: "nav-link text" %>
      </span>
      <span class="nav-item">
        <%= link_to "projects", :anchor => "projects", class: "nav-link text" %>
      </span>
      <span class="nav-item">
        <%= link_to "contact", :anchor => "contact", class: "nav-link text" %>
      </span>
  </div>
</div>


