<div class="navbar navbar-expand-sm navbar-light navbar-portfolio" id="navbar">
  <%= link_to "MW", "/", class: "navbar-brand text logo" %>
    <%# image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <span class="nav-item">
        <%# link_to "about me", aboutme_path, class: "nav-link text js--scroll-to-about-me" %>
       <%= link_to "about", :anchor => "about-me-home", class: "nav-link text js--scroll-to-about-me" %>


      </span>
      <span class="nav-item">
        <%= link_to "projects", projects_path, class: "nav-link text s--scroll-to-projects" %>
      </span>
      <span class="nav-item">
        <%= link_to "resume", resume_path, class: "nav-link text js--scroll-to-contacts" %>
      </span>
      <span class="nav-item">
        <%=mail_to "mel.weinstein31@gmail.com", "contact", target: :_blank %>
      </span>

  </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  // Add smooth scrolling to all links
  $("a").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
});
</script>


